*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: hsl(224, 32%, 12%);
  background-image: conic-gradient(
    from 0deg at 0% 100%,
    blue,
    purple,
    purple,
    blue
  );
  background-blend-mode: multiply;
  display: grid;
  place-items: center;
  min-block-size: 100dvh;
}

#gold {
  background-image: url("https://freepngimg.com/save/153733-bar-gold-download-hq/512x342");
  display: none;
  z-index: 50;
  height: 5em;
  width: 5em;
}
#img-box {
  height: 15em;
  width: 15em;
  position: absolute;
  background-image: url("https://www.gstatic.com/webp/gallery/1.jpg");
  transform-style: preserve-3d;
  transform: prespective(5000px);
  transition: transform 0.5s ease-in-out;
}

@keyframes popup-animation {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10px);
  }
}
img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#img-box:hover {
  transform: rotateX(50deg);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  filter: blur(3px);
}

#img-box:hover ~ #gold {
  display: block;
  animation-name: popup-animation;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#img-box::before,
#img-box::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}
#img-box::before {
  z-index: 1;
  transform: translateZ(-50px);
  filter: blur(15px);
  opacity: 1;
}

#img-box::after {
  z-index: -1;
  inset: -0.8rem;
  background: black;
  transform: translateZ(-50px);
  filter: blur(13px);
  opacity: 0.5;
}
